<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
      integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="../../assets/stylesheets/style.css" />
    <title>Anthony Hall</title>
  </head>
  <body>
    <div class="main-content">
      <!-- Home Section -->
      <div id="home" class="content-section active">
        <h2>Anthony Hall</h2>
        <p>Hello. Welcome.</p>

        <div class="social-icons">
          <a
            href="https://linkedin.com/in/theanthonylogan"
            target="_blank"
            rel="noopener noreferrer"
            title="Connect with me on LinkedIn"
          >
            <i class="fa-brands fa-linkedin fa-2xl fa-beat-fade"></i>
          </a>
          <a
            href="https://github.com/theanthonylogan"
            target="_blank"
            rel="noopener noreferrer"
            title="Check out my GitHub"
          >
            <i class="fa-brands fa-github fa-2xl"></i>
          </a>
        </div>

        <h3>Tools</h3>
        <div class="tools-list">
          <a
            href="https://ittools.theanthonylogan.com"
            target="_blank"
            rel="noopener noreferrer"
            >ittools</a
          >
          <span class="separator">|</span>
          <a
            href="https://sharefile.theanthonylogan.com"
            target="_blank"
            rel="noopener noreferrer"
            >pico</a
          >
          <span class="separator">|</span>
          <a
            href="https://draw.theanthonylogan.com"
            target="_blank"
            rel="noopener noreferrer"
            >draw</a
          >
        </div>
      </div>

    <footer>
      <p>&copy; <span id="currentYear"></span> Anthony Hall. All rights reserved.</p>
    </footer>

    <script src="../../javascript/script.js"></script>
 </body>
</html>
